name: read_more_less
description: Provides a widget that shows a read more/less button in case the text exceeds the maxHeight provided in the widget.
version: 1.0.0
homepage: https://github.com/DutchCodingCompany/read_more_less

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_html: ^3.0.0-beta.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  very_good_analysis: ^6.0.0

flutter:
  assets:
    - assets/
